<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo G2</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <header>

        <nav class="nav-left"> 
            <a href="#">Home</a>
            <a href="#">Restaurantes</a>
            <a href="#">Mercado</a>
            <a href="#">Farmácia</a>
            <a href="#">Bebidas</a>
        </nav>

        
        <nav class="nav-right">
            <a href="#">Cadastrar</a>
            <a href="#">Login</a>
        </nav>
    </header>

    <div class="search-container">
        <input type="text" placeholder="O que está procurando?">
    </div>

    <div class="container">
        <figure class="foto-lanche">
            <img src="imagem/lanche.jpeg" alt="Hambúrguer">
            <figcaption>Hambúrguer</figcaption>
        </figure>

        <figure class="foto-lanche">
            <img src="imagem/596343.jpg" alt="Pizza">
            <figcaption>Pizza</figcaption>
        </figure>

        <figure class="foto-lanche">
            <img src="imagem/pastel.jpeg" alt="Pastel">
            <figcaption>
                <a href="menu-restaurante-main/templates/produtos.html" style="color: white; text-decoration: none;">Pastel</a>
            </figcaption>
        </figure>

        <figure class="foto-lanche">
            <img src="imagem/shusi.jpeg" alt="Sushi">
            <figcaption>Sushi</figcaption>
        </figure>

        <figure class="foto-lanche">
            <img src="imagem/SOBREMESA-FÁCIL.jpg" alt="Sobremesa">
            <figcaption>Sobremesa</figcaption>
        </figure>
    </div>

    <div class="container">
        <h2>Bem-vindo ao nosso serviço de entrega !</h2>
    </div>

    <footer>
        <p>© Grupo G2 - Desenvolvimento de Sistema 5° Semestre 2024. </p>
    </footer>
</body>
</html>
